body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vh;
  background-color: #f0f0f0;
  margin: 0;
}

.bgt{
  background-color: #007bff;
  height: 50vh;
  width: 50vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-left: 60rem;
  margin-top: 20rem;
  border: 2px solid rgb(35, 247, 130);
  
}

h1 {
  color: #d89999;
  margin: 0 0 20px;
}

input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}
