
body {
 background: #ccb2b6;
 display: flex;
 min-height: 100vh;
 justify-content: center;
 align-items: center;
}


.form-cont{
  width: 360px; 
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column; 
}
button{
 padding: 5px;
 cursor: pointer;
 background-color: rgb(107, 107, 213);
 color: aliceblue;
 border-color: white;
 border-radius: 9px;
 box-shadow: white;
 
}

p{
 font-size: 1.2rem;
 font-weight: 900;
}

.output{
 color: blueviolet;
 font-size: 20px;
}