.day {
 background-color: white;
 color: rgb(17, 17, 17);
}

.night {
 background-color: rgb(20, 19, 19);
 color: gold;
}

.button_night {
 background-color: darkblue;
 color: white;
 padding:10px;
 border-color: aquamarine;
 border-radius: 15px;
 cursor: pointer;
 font-weight: bold;

}

.button_day{
 background-color: rgb(244, 196, 196);
 color: rgb(11, 10, 10);
 padding:10px;
 border-color: aquamarine;
 border-radius: 15px;
 cursor: pointer;
 font-weight: bold;
}

.content{
 font-size:1.5rem;
 font-weight: 900;
}

html, body {
 margin: 0px;
 height: 100%;

}

#app {
 height: 100%;
 padding: 10px;
}

.f-text{
text-decoration: none;
 font-weight: bold;
 color:rgb(36, 218, 127);
 margin-left: 72rem;

}

footer {
 background-color: #834f4f;
 color: #fff;
 text-align: center;
 padding: 10px 20px;
 position: fixed;
 bottom: 0;
 width: 100%;
}
