thead th {
    background-color: #c07b03;
    color: #ffffff;
    padding: 5px;
  }
  
  td:nth-child(1) {
    background-color: #f2f2f2;
  }
  
  td:nth-child(8) {
    background-color: #d1d1d1;
  }
  
   td {
    border: solid   1px #dddddd;

  } 